# Python virtual environments
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Flask instance folder
instance/

# Environment variables
.env

# Uploads
uploads/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
